.reveal h1, h2, h3 {
    color: lightsalmon;
}

.reveal p, li {
    color: aqua;
}

.reveal button {
    background-color: lightsalmon;
    padding: 10px;
    border-radius: 5px;
    font-size: 25px;
    box-shadow: none;
    border: 2px solid aqua;
    outline: none;
}

.reveal blockquote {
    background-color: aqua;
}

.reveal blockquote p {
    color: black;
}